<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Task2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Task2.Settings1>
            <setting name="Pass" serializeAs="String">
                <value>asd425605</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>RCut</value>
            </setting>
        </Task2.Settings1>
    </userSettings>
</configuration>